
<div id="main" >

    <h4 class="text-center fw-500 mb-2">For return aproval</h4>
<table class="table table-striped" id="dataTable">
            <thead>
                <tr class="text-center">
                    <th scope="col">no.</th>
                    <th scope="col">user</th>
                    <th scope="col">date</th>
                    <th scope="col">order id</th>
                    <th scope="col">view more</th>
                    <th scope="col">status</th>
                    {{!-- <th scope="col">status</th> --}}
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {{#each returnOrders}}
                <tr class="text-center">
                    <td>{{inc @index}}</td>
                    <td>{{this.userDetails.name}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this._id}}</td>
                     <td ><a href="/admin/view/more/{{this._id}}"><span class="badge badge-primary">order details</span></a></td>
                    <td ><span class="badge badge-info">{{this.status}}</span></td>
                    <td>
                        {{!-- <select name="status" id="status" class="border-0" style="background-color: #D06A54;border-radius:10px;height:30px;">
                            <option value="{{this.status}}">{{this.status}}</option>
                            <option value="cancelled">cancelled</option>
                            <option value="delivered">delivered</option>
                        </select> --}}

                        <button type="button" class="p-2 badge badge-success border border-0" data-bs-toggle="modal"
                        data-bs-target="#verticalycentered{{this._id}}">approve return
                        </button>
                        <div class="modal fade" id="verticalycentered{{this._id}}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"></h5>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="">Username</label>
                                        <input type="text" class="form-control" value="{{this.userDetails.name}}">
                                        </div>
                            
                                     <div class="form-group">
                                        <label for="">Total Price</label>
                                        <input type="text" class="form-control" value="₹ {{this.total}}">
                                        </div>
                                    
                                     <div class="form-group">
                                        <label for="">Reason for return</label>
                                        <input type="text" class="form-control" value="{{this.reason}}">
                                        </div>
                    
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="approveReturn('{{this._id}}','{{this.total}}','{{this.userDetails._id}}')">approve return</button>
                                </div>
                        </div>
                        </div> 
                                    
                                    
                                    
                                    

                    </td>






                    {{!-- <td><a href="/admin/view/more/{{this._id}}" type="button" class="btn btn-danger rounded-pill btn-sm">view more</a></td> --}}
                </tr>
                {{/each}}
                
            </tbody>
        </table>


{{#if returnApprovedProducts}}
<h4 class="mt-5 text-center fw-500 mb-2">Return approved orders</h4>
<table class="table table-striped" id="dataTable">
            <thead>
                <tr class="text-center">
                    <th scope="col">no.</th>
                    <th scope="col">user</th>
                    <th scope="col">date</th>
                    <th scope="col">order id</th>
                    <th scope="col">view more</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                {{#each returnApprovedProducts}}
                <tr class="text-center">
                    <td>{{inc @index}}</td>
                    <td>{{this.userDetails.name}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this._id}}</td>
                    <td ><a href="/admin/view/more/{{this._id}}"><span class="badge badge-primary">order details</span></a></td>
                    <td ><span class="badge badge-info">{{this.status}}</span></td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
{{/if}}

</div>  

<script>
    function approveReturn(orderid,total,userId){
        $.ajax({
            url:'/admin/approve/return/?orderId='+orderid+'&total='+total+'&userId='+userId,
            method:'post',
            success:(response)=>{
                console.log(response)
                if(response.approvedStatus){
                    window.location.reload()
                }
            }
        })
    }
</script>