<div class="offcanvas-menu-overlay"></div>

<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="header__top__left">
            <p>Free shipping, 30-day return or refund guarantee.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="header__top__right">
            <div class="header__top__links">

              {{#if user}}
              <a href="/my-account">{{user.name}}</a>
              {{else}}
              <a href="/sign-in">SIGN IN</a>
              {{/if}}

              </a>
              {{#if user}}
              <a href="/logout">log out</a>
              {{/if}}

            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a href="/"><strong><span class="fw-bolder h2 text-dark m-0 p-0">IND<span
                  class="fw-bolder h2 text-danger m-0 p-0"> W</span>EAR</span></strong></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-men u">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/shop/now/?page=1">Shop</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">

          <a href="#" class="search-switch"><img src="/img/icon/search.png" alt="search"></a>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-transparent border border-0" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            <i class="fa-sharp fa-solid fa-bell text-dark"></i>
            <span class="badge rounded-pill badge-notification bg-danger">{{couponCount}}</span>
          </button>

          <button class="btn btn-trasnparent" data-toggle="modal" data-target=".bd-example-modal-sm"><i
              class="fa-solid fa-wallet"></i></button>
          <a href="/wishlist"><img src="/img/icon/heart.png" alt=""></a>
          <a href="/cart"><img src="/img/icon/cart.png" alt=""><span class="badge text-bg-secondary ml-3"
              id="cart-count">{{cartCount}}</span></a>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>

<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" onkeyup="sendData(this)" placeholder="Search here.....">
      <div id="searchResults" class="bg-light" style="max-height:500px;overflow:scroll">

        <div class="row">
          <div id="productName" class="col-4"></div>
          <div id="ProductImage" class="col-4"></div>
          <div class="col-4"></div>
        </div>

      </div>
  </div>


</div>
</form>
</div>

</div>



<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="container wallet-container">
        <div class="mobile">
          <div class="wallet-header">
            {{!-- <div class="navigation">
              <i class="fas fa-arrow-left"></i>
            </div> --}}
            <div class="filter">
              {{!-- <div class="calendar"> --}}
                {{!-- <i class="far fa-calendar-alt"></i> --}}
                {{!-- </div> --}}
              {{!-- <div class="option"></div> --}}
              <div class="select">
                {{!-- <i class="fas fa-angle-down"></i> --}}
              </div>
            </div>
          </div>
          <div class="content">
            <div class="total">
              <div class="label">Wallet balance</div>
              <div class="value">{{walletMoney}}</div>
              <div class="balance">+ <span>{{walletMoney}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold text-danger" id="exampleModalLabel">Wohoo !! you got Dicount Coupons</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {{#each coupons}}
        <div class="d-flex flex-row align-items-center mb-2">
          <div class="d-flex flex-column mb-2">
            <h6 class="fw-bold p-0 m-0">{{this.Name}}</h6>
            <div class="copy-link mt-2">
              <input type="text" class="copy-link-input form-control" value="{{this.Code}}" hidden>
              <button type="button" class="copy-link-button btn btn-transparent">
                <span class="material-icons text-bold ">copy</span>
              </button>
            </div>
            <strong> <span class="text-success">{{this.Description}}<br>
              </span></strong>
          </div>
        </div>
        {{/each}}


      </div>
    </div>
  </div>
</div>
                   
               
    


 <script>

  document.querySelectorAll(".copy-link").forEach((copyLinkParent) => {
  const inputField = copyLinkParent.querySelector(".copy-link-input");
  const copyButton = copyLinkParent.querySelector(".copy-link-button");
  const text = inputField.value;

  inputField.addEventListener("focus", () => inputField.select());

  copyButton.addEventListener("click", () => {
    inputField.select();
    navigator.clipboard.writeText(text);

    inputField.value = "Copied!";
    setTimeout(() => (inputField.value = text), 2000);
  });
});


        function sendData(e){
          console.log(e)
          let searchResultsContainer = document.getElementById('searchResults')
          let match = e.value.match(/^[a-zA-z]*/);
          let match2 = e.value.match(/\s*/)
          if(match2[0] === e.value){
            searchResultsContainer.innerHTML ='';
            return;
          }
          if(match[0]===e.value){

            $.ajax({
            url:'/product/search',
            method:'post',
            data:{payload:e.value},
            success:(response)=>{
              console.log(response.searchData)
              if(response.searchData.length < 1){
                searchResultsContainer.innerHTML = '<p>sorry no items found</p>'
                return;
              }
              response.searchData.forEach((item,index)=>{
                 if(index > 0) searchResultsContainer.innerHTML += `<div style="background-color:white; margin-top; -14px;" class="row"> 
                  <div class="col-8 m-4 d-flex justify-content-between"><h5>${item.name}</h5></div>
                  
                 
                    <a href="/product-details/${item._id}"><img style="width:40px; height:40px;" src="/images/product/${item.img[0]}"
                   
                    <hr>
                    </div>`
        
                 

              });
              return;

            }
          })
            return;
          }
          searchResultsContainer.innerHTML = ''
     
        }
</script>

 {{!-- searchResultsContainer.innerHTML +=  `<p>${item.name}</p>` --}}
  <div class="col-2 m-4"></div>