    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each cartDetails}}
                                <tr>
                                     {{!-- {{#each this.product}} --}}
                                    <td class="product__cart__item">
                                       
                                        <div class="product__cart__item__pic">
                                            <img src="/images/product/{{this.product.img.[0]}}" height="75px" width="75px" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{this.product.name}}</h6>
                                            <span>₹ </span><h7 id="productPrice{{this.product._id}}">{{this.discountedPrice}}</h7>
                                            <span class="text-decoration-line-through text-muted p-2 ml-2 mt-2" style="font-size: 14px;"> {{this.product.price}}</span>
                                        </div>
                                        
                                    </td>
                                    {{!-- {{/each}} --}}
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            {{!-- pro-qty-2  --}}
                                            <div class="d-flex pro-qty-">
                                                <button class="border-0" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button><span class="ml-2 mr-2" id="{{this.product._id}}">{{this.quantity}}</span><button class="border-0" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">₹ <span id="productTotal{{this.product._id}}">{{this.productTotal}}</span></td>
                                    <td class="cart__close"><i class="fa fa-close" onclick="removeProduct('{{this.product._id}}')"></i></a></td>
                                {{!-- /remove-cart-product/{{this.product._id}} --}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop/now">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {{!-- <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form id="applyCopounForm">
                            <input type="text" name="code" id="code" placeholder="Coupon code">
                            <button onclick="applyCoupon('{{total}}','{{user._id}}')">Apply</button>
                        </form>
                    </div> --}}
                    {{!-- {{#if couponDiscountDetails}}
                    <span class="text-success  ml-5 fw-bold p-3" role="text" id="appliedAlert"> you have applied coupon</span>&nbsp;<span class="text-success fw-bold">{{couponDiscountDetails.totalDetails.[0].couponCode}} <i class="fa-light fa-xmark"></i></span>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Total <span id="totalValue">{{total}}</span></li>
                            <li class="text-success">-<span id="couponDiscount" class="text-success">{{couponDiscountDetails.totalDetails.[0].couponDiscount}}</span></li>
                            <li>Subtotal<span id="subTotal">{{couponDiscountDetails.totalDetails.[0].couponDiscountedPrice}}</span></li>
                        </ul>
                        {{#if cartCount}}
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                        {{else}}
                        <a href="/shop/now" class="primary-btn">shop now</a>
                        {{/if}}
                    </div> --}}
                    {{!-- {{else}} --}}

                        <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Total <span id="totalValue">{{total}}</span></li>
                            <li>Subtotal<span id="subTotal">{{total}}</span></li>
                        </ul>
                        {{#if cartCount}}
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                        {{else}}
                        <a href="/shop/now" class="primary-btn">shop now</a>
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <script>
        function changeQuantity(cartId,productId,userId,count){
            let quantity = parseInt(document.getElementById(productId).innerHTML)
            count = parseInt(count)
            console.log(userId)

            $.ajax({
                url:'/change-product-quantity',
                data:{
                    cart:cartId,
                    product:productId,
                    user:userId,
                    count:count,
                    quantity:quantity
                },
                method:'put',
                success:(response)=>{
                    console.log(response)
                    if(response.removeProduct){
                        alert('Product removed from cart')
                        location.reload()
                    }else{
                        document.getElementById(productId).innerHTML = quantity+count;
                        document.getElementById('totalValue').innerHTML=response.total[0].total;
                        document.getElementById('subTotal').innerHTML = response.total[0].total;

                        let productPrice = document.getElementById('productPrice'+productId).innerHTML
                        let productQuantity = document.getElementById(productId).innerHTML

                        let price = productPrice*productQuantity;
                        document.getElementById('productTotal'+productId).innerHTML = price;  
                        console.log(price)
                    }   
                }
            })
        }
   
       function removeProduct(productId){
        $.ajax({
            url:'/remove/cart/product/?productId='+productId,
            method:'delete',
            success:(response)=>{
                if(response.deleteStatus){
                    window.location.reload()
                }else{
                    window.location.href='/cart'
                }
            }

        })
       }

    function applyCoupon(total,userId,cartId){
        
    $('#applyCopounForm').submit((e)=>{
        e.preventDefault()
        var code = $("#code").val();
         let body ={
                total:total,
                userId:userId,
                cartId:cartId,
                couponCode:code
        }

        console.log(body)

        $.ajax({
            url:'/apply/coupon',
            method:'post',
            data:body,
            success:(response)=>{
                console.log(response)
                if(response.couponStatus){
                    if(response.validity){
                        window.location.href='/cart'
                       
                    }else{
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.message,
                        })
                    }
                    
                }
            }
            
        })

    })
   }

   
    </script>