<style>
body{
    overflow-x: hidden;
}
</style>




<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Check Out</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/shop/now">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<section class="checkout spad p-2">
    <div class="cart__discount">
        <div class="row">
            {{#if couponDiscount}}
                <p></p>
                {{else}}
             <div class="col-lg-4 pb-0 mb-0" style="margin-left: 46rem;" >

                        <h6>Discount codes</h6>
                        <form id="applyCopounForm">
                            <input type="text" name="code" id="code" placeholder="Coupon code">
                            <button onclick="applyCoupon('{{total}}','{{user._id}}')">Apply</button>
                        </form>
                    </div>
              {{/if}}      
                    </div>
        </div>
    <div class="container">
        <div class="checkout__form">
            <form id="checkout-form">
                <div class="row">
                    
                    <h6 class="checkout__title">Billing Details</h6>
                    
                    
                   
                    <div class="col-lg-6 col-md-6 mr-md-5 ml-md-3">
                            <button type="button" class="site-btn mb-2"  data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Add
                            Address</button>
                        <div class="card p-1 py-2 card-1 text-left" style="display:flex;flex-wrap:wrap">
                                {{#each addressArray}}
                                <div class="p-3 card-child">
                                    <div class="d-flex flex-row align-items-center ">
                                        <span class="circle mr-3" style="">
                                            <input type="radio" value="{{this._id}}" name="addressId" checked required>
                                        </span>
                                        <div class="d-flex flex-column ms-3">
                                            <h6 class="fw-bold">{{this.name}}</h6>
                                            <span>{{this.address}}, <br>{{this.city}} ,{{this.pincode}}<br>
                                                {{this.mobile}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="border-0 btn-sm text-primary ml-5 mb-1"
                                            onclick="editAddress('{{this._id}}')" data-bs-toggle="modal"
                                            data-bs-target="#editaddressModal">
                                            edit</button>
                                    </div>
                                </div>
                                {{/each}}
                            {{!-- </div> --}}
                        </div>
                        
                    </div>

                    <input type="text" value="{{user._id}}" name="userId" hidden>
                    

                    <div class="col-lg-4 col-md-6">
                         {{!-- <div class="col-lg-4"> --}}
                    
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <ul class="checkout__total__products">
                                {{#each cartDetails}}
                                <li>{{inc @index}}. {{this.product.name}}<span>₹ {{this.productTotal}}</span></li>
                                {{/each}}
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Subtotal <span>₹ {{total}}</span></li>
                                {{#if couponDiscount.[0]}}
                                <li>Coupon code <span>{{couponDiscount.[0].couponCode}}</span></li><a href="/remove/coupon/{{couponDiscount.[0].couponId}}" class="">remove coupon  X</a>
                                <li>discount<span> {{couponDiscount.[0].comparedCouponDiscount}}</span></li>
                                <input type="text" name="couponApplied" value="true" hidden>
                                <li>Total <span>₹ {{couponDiscount.[0].couponDiscountedPrice}}</span></li>
                                {{else}}
                                <li>Total <span>₹ {{total}}</span></li>
                                {{/if}}
                            </ul>
                            <input type="text" value="{{cartDetails.[0]._id}}" name="cartId" hidden>
                            <div class="inline">
                                <input type="radio" id="cod" name="paymentMethod" value="COD" checked>
                                <label for="cod">Cash on delivery</label>
                            </div>
                            {{#if walletPayment}}
                             <div class="inline">
                                <input type="radio" id="wallet" name="paymentMethod" value="wallet"  onclick="payUsingWallet('{{user._id}}','{{total}}')">
                                <label for="cod">Wallet Money ( &nbsp;<span class="text-danger fw-500">₹ {{walletMoney}}</span>)</label>
                            </div>
                            {{/if}}
                            <div class="inline">
                                <input type="radio" id="razorpay" name="paymentMethod" value="razorpay">
                                <label for="razorpay">Razorpay</label>
                            </div>
                            <div class="inline">
                                <input type="radio" id="paypal" name="paymentMethod" value="paypal">
                                <label for="paypal">Paypal</label>
                            </div>

                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Your Address
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             <span class="text-center text-danger" id="errorMsg"></span>
            <form id="addressAddForm">
                <div class="modal-body">
                           
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-firstname">Name <span class="required-f text-danger">
                                    *</span></label>
                            <input name="name" value="" id="name" type="text" class="form-control" onkeyup="validateName()">
                            <span id="nameError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="email">E-Mail <span class="required-f text-danger">*</span></label>
                            <input name="email" value="" id="email" type="email" class="form-control" onkeyup="validateEmail()">
                            <span id="emailError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-telephone">Telephone <span class="required-f text-danger">*</span></label>
                            <input name="mobile" value="" id="mobile" type="tel" class="form-control" onkeyup="validateMobile()">
                            <span id="mobileError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-address-1">Address <span class="required-f text-danger">*</span></label>
                            <input name="address" value="" id="address" type="text" class="form-control" onkeyup="validateAddress()">
                            <span id="addressError" class="text-danger"></span>
                        </div>
                    </div>
            
                    <input type="text" name="userId" value="{{user._id}}" hidden>
                    <div class="row">
            
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-city">City <span class="required-f text-danger">*</span></label>
                            <input name="city" value="" id="city" type="text" class="form-control" onkeyup="validateCity()">
                            <span id="cityError" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-postcode">Post Code <span class="required-f text-danger">*</span></label>
                            <input name="pincode" value="" id="pincode" type="text" class="form-control" onkeyup="validatePincode()">
                            <span id="pincodeError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
            
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-landmark">State<span class="required-f text-danger">*</span></label>
                            <input name="landmark" value="Kerala" id="input-landmark" type="text" readonly class="form-control">
                        </div>
            
                    </div>
            
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="return addAddress()">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editaddressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Your Address
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <span class="text-center text-danger" id="errorMsg1"></span>
            <form id="editAddressForm">
                <div class="modal-body">
            
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-firstname">Name <span class="required-f text-danger">
                                    *</span></label>
                            <input name="name" value="" id="input-Firstname" type="text" class="form-control" onkeyup="validateName1()">
                             <span id="nameErrorEdit" class="text-danger"></span>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-telephone">Telephone <span class="required-f text-danger">*</span></label>
                            <input name="mobile" value="" id="input-Telephone" type="tel" class="form-control" onkeyup="validateMobile1()">
                            <span id="mobileErrorEdit" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-address-1">Address <span class="required-f text-danger">*</span></label>
                            <input name="address" value="" id="input-Address" type="text" class="form-control" onkeyup="validateAddress1()">
                             <span id="addressErrorEdit" class="text-danger"></span>
                        </div>
                    </div>
            
                     <input type="text" name="addressId" value="" id="addressId" hidden>
                    <div class="row">
            
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-city">City <span class="required-f text-danger">*</span></label>
                            <input name="city" value="" id="input-City" type="text" class="form-control" onkeyup="validateCity1()">
                             <span id="cityErrorEdit" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-postcode">Post Code <span class="required-f text-danger">*</span></label>
                            <input name="pincode" value="" id="input-Postcode" type="text" class="form-control" onkeyup="validatePincode1()">
                            <span id="pincodeErrorEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
            
                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                            <label for="input-landmark">State<span class="required-f text-danger">*</span></label>
                            <input name="landmark" value="Kerala" id="input-State" type="text" readonly class="form-control">
                        </div>
            
                    </div>
            
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" onclick="return EditAddress()" class="btn btn-primary" >Add</button>
            </div>
            </form>
        </div>
    </div>
</div>




 <!-- Footer Section Begin -->
    <footer class="footer" style="margin-top: 25rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><strong><span class="fw-bolder h2 text-dark m-0 p-0">IND<span class="fw-bolder h2 text-danger m-0 p-0"> W</span>EAR</span></strong></a>

                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

<script>
    function applyCoupon(total,userId,cartId){
    
    $('#applyCopounForm').submit((e)=>{
    e.preventDefault()
    var code = $("#code").val();
     let body ={
            total:total,
            userId:userId,
            cartId:cartId,
            couponCode:code
    }

    console.log(body)

    $.ajax({
        url:'/apply/coupon',
        method:'post',
        data:body,
        success:(response)=>{
            console.log(response)
            if(response.couponStatus){
                if(response.validity){
                    window.location.href='/checkout'
                   
                }else{
                    Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: response.message,
                    })
                }
                
            }
        }
        
    })

})
}

 function payUsingWallet(userId,total){

    
    $.ajax({
        url:'/pay/using/wallet',
        method:'post',
        data:{userId:userId,total:total},
        success:(response)=>{
            if(response.response.notEnoughBalance){
                Swal.fire(
                'Not enough balance in wallet',
                )
            }else if(response.response.paymentSuccessFul){
                Swal.fire(
                'payment successfull',
                )

            }        
        }

    })
 }

</script>

<script src="/javascripts/validations.js"></script>
<script src="/javascripts/addAddress.js"></script>
<script src="/javascripts/checkout.js"></script>