
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Personal edit</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/my-account">My account</a>
                        <span>personal edit</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form id="editPersonalForm">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        {{!-- <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a
                                href="#">Click
                                here</a> to enter your code</h6> --}}
                        <h6 class="checkout__title">Personal Details Edit</h6>
                        <div class="row">
                            {{#if userExist}}
                                <p class="text-danger">{{emailError}}</p>
                            {{else}}
                                <p></p>    
                            {{/if}}
                            {{#if passwordErr}}
                                <p class="text-danger">{{passwordErr}}</p>
                            {{/if }}
                            {{#if passwordSuc}}
                                <p class="text-success">{{passwordSuc}}</p>
                            {{/if }}


                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Name<span>*</span></p>
                                    <input type="text" name="name" required value="{{userDetails.name}}" id="name" onkeyup="validateName()">
                                <p class="text-danger" id="nameError"></p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>email<span>*</span></p>
                                    <input type="text" placeholder="Street Address" class="checkout__input__add"
                                        name="email" value="{{userDetails.email}}" id="email" onkeyup="validateEmail()">
                                        <p class="text-danger" id="emailError"></p>
                                </div>
                            </div>
                        </div>
                        <input type="text" name="userId" id="" value="{{userDetails._id}}" hidden>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>mobile<span>*</span></p>
                                    <input type="text" placeholder="Street Address" class="checkout__input__add"
                                        name="mobile" value="{{userDetails.mobile}}" id="mobile" onkeyup="validateMobile()">
                                        <p class="text-danger" id="mobileError"></p>

                                </div>
                            </div>
                        </div>

                        <button type="submit" class="site-btn">update</button>
                    </div>
            </form>
        </div>
        <div class="mt-5">
            <h3 class="mb-4">Change Password</h3>
            <form id="passwordForm">

                <div class="row ">
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <p>Current password<span>*</span></p>
                            <input type="password" placeholder="current password" class="checkout__input__add"
                                name="currentPassword"  id="password" required onkeyup="validatePassword()">
                                <p class="text-danger" id="passwordError"></p>

                        </div>
                     
                        

                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <p>New password<span>*</span></p>
                            <input type="password" placeholder="new password" class="checkout__input__add"
                                name="newPassword" id="newPassword" required onkeyup="validateNewPassword()">
                                <p class="text-danger" id="newPasswordError"></p>
                        </div>
                    </div>
                </div>

                <button type="submit" class="site-btn">change password</button>
            </form>
        </div>
    </div>
</section> <!-- Checkout Section End -->

 <!-- Footer Section Begin -->
    <footer class="footer" style="margin-top: 25rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><strong><span class="fw-bolder h2 text-dark m-0 p-0">IND<span class="fw-bolder h2 text-danger m-0 p-0"> W</span>EAR</span></strong></a>

                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->


<script>

  

    $('#editPersonalForm').submit((e)=>{
        e.preventDefault()
        $.ajax({
            url: '/edit/personal',
            method:'patch',
            data:$('#editPersonalForm').serialize(),
            success:(response)=>{
                if(response.status){
                    window.location.reload()
                }
            }

            
        })
    })

    $('#passwordForm').submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/change/password',
            method:'put',
            data:$('#passwordForm').serialize(),
            success:(response)=>{
                if(response.passwordChange){
                    window.location.href='/sign-in'
                }else{
                    window.location.href='/edit/personal'
                }
            }
        })
    })
                
      let emailErrorEl = document.getElementById("emailError");
      let passwordErrorEl = document.getElementById("passwordError");
      let nameErrorEl = document.getElementById("nameError");
      let mobileErrorEl = document.getElementById("mobileError");
      let confirmPasswordErrorEl = document.getElementById("confirmPasswordError");
      let newPasswordErrorEl = document.getElementById('newPasswordError')
      let correctedPassword;
      


      function validateName(){
          let name = document.getElementById("name").value;
          console.log(name);
          if(name.length == 0){
              nameErrorEl.innerHTML = "enter name";
              return false;
          }
          if(!name.match(/^[A-Za-z]*\s{1}[A-Za-z]*$/)){
              nameErrorEl.innerHTML = "enter valid name";
          }
          else{
              nameErrorEl.innerHTML = "";
              return false;
          }
              
          

      }

      function validateEmail(){
          
          let email = document.getElementById("email").value;
          console.log(email)
          if(email.length==0){
              emailErrorEl.innerHTML="please enter email"
              return false;
          }
          if(!email.match(/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/)){
              emailErrorEl.innerHTML = "Enter valid email";
              return false;
          }
          else{
                emailErrorEl.innerHTML = "";
                return true;
          }

      }
      function validateMobile(){
          let mobile = document.getElementById("mobile").value;

          if(mobile.length==0){
              mobileErrorEl.innerHTML="enter mobile";
              return false
          }
          if(!mobile.match(/^[0-9]{10}$/)){
              mobileErrorEl.innerHTML = "enter valid mobile";
              return false;
          }else{
              mobileErrorEl.innerHTML = "";
              return true;
          }
      }


      function validatePassword(){
          let password = document.getElementById("password").value;
          
          if(password.length==0){
              passwordErrorEl.innerHTML = "Please enter a password"; 
              return false; 
          }
          if(!password.match(/^[A-Za-z0-9]*$/)){
              passwordErrorEl.innerHTML = "enter valid password"; 
              return false;
          }
          if(password.length<6){
              passwordErrorEl.innerHTML = "enter more than 6 characters"
              return false;
          }
          else{
              passwordErrorEl.innerHTML = "";
              return false;

          }

      }

      function validateNewPassword(){
          let password = document.getElementById("newPassword").value;
          
          if(password.length==0){
              newPasswordErrorEl.innerHTML = "Please enter a password"; 
              return false; 
          }
          if(!password.match(/^[A-Za-z0-9]*$/)){
              newPasswordErrorEl.innerHTML = "enter valid password"; 
              return false;
          }
          if(password.length<6){
              newPasswordErrorEl.innerHTML = "enter more than 6 characters"
              return false;
          }
          else{
              newPasswordErrorEl.innerHTML = "";
              return false;

          }

      }

     



</script>