


    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    {{#each categoryDetails}}
                                                        <li><a href="/category-wise-shop-now/{{this._id}}">{{this.category}}</a></li>
                                                    {{/each}}

                            
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">MEN</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    {{#each categoryDetails.[0].subcategory}}
                                                    <li><a href="/subcatwise/?subcat={{this}}&catId={{../categoryDetails.[0]._id}}">{{this}}</a></li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              <div class="card"> 
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">WOMEN</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    {{#each categoryDetails.[1].subcategory}}
                                                    <li><a href="/subcatwise/?subcat={{this}}&catId={{../categoryDetails.[1]._id}}">{{this}}</a></li>
                                                    {{/each}}
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label for="xs">xs
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">xl
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label for="2xl">2xl
                                                    <input type="radio" id="2xl">
                                                </label>
                                                <label for="xxl">xxl
                                                    <input type="radio" id="xxl">
                                                </label>
                                                <label for="3xl">3xl
                                                    <input type="radio" id="3xl">
                                                </label>
                                                <label for="4xl">4xl
                                                    <input type="radio" id="4xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                <label class="c-1" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="c-2" for="sp-2">
                                                    <input type="radio" id="sp-2">
                                                </label>
                                                <label class="c-3" for="sp-3">
                                                    <input type="radio" id="sp-3">
                                                </label>
                                                <label class="c-4" for="sp-4">
                                                    <input type="radio" id="sp-4">
                                                </label>
                                                <label class="c-5" for="sp-5">
                                                    <input type="radio" id="sp-5">
                                                </label>
                                                <label class="c-6" for="sp-6">
                                                    <input type="radio" id="sp-6">
                                                </label>
                                                <label class="c-7" for="sp-7">
                                                    <input type="radio" id="sp-7">
                                                </label>
                                                <label class="c-8" for="sp-8">
                                                    <input type="radio" id="sp-8">
                                                </label>
                                                <label class="c-9" for="sp-9">
                                                    <input type="radio" id="sp-9">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


{{!-- --------------------------------------------products starting---------------------------------------------- --}}
                    <div class="row">
                        {{#each productDetails}}
                        <div class="col-lg-4 col-md-6 col-sm-6  ">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="">
                                    <a href="/product-details/{{this._id}}" ><img src="/images/product/{{this.img.[0]}}"+ alt="" style="height: 20rem; width:20rem"></a>
                                    {{#if this.comparedDiscount}}
                                    <span class="label">{{this.comparedDiscount}}%</span>
                                    {{/if}}
                                    <ul class="product__hover">
                                        {{!-- {{#if wishlist}}
                                        <li><button onclick="addToWishlist('{{this._id}}')" class="btn btn-transparent"><i id="wishlistHeart" class="fa-solid fa-heart text-danger" style="font-size: 30px;"></i></button></li>
                                        {{else}}
                                        <li><button onclick="addToWishlist('{{this._id}}')" class="btn btn-transparent"><i id="wishlistHeart" class="fa-solid fa-heart text-light" style="font-size: 30px;"></i></button></li>
                                        {{/if}} --}}
                                        

                                        {{#wishlistHeartIcon this._id ../wishlistProducts}}
											<button id="wishlistButton{{this._id}}" class="wishlistButton border border-0" onclick="addToWishlist('{{../this._id}}')"><i class="fa fa-heart heartIcon"  id="heartIcon{{../this._id}}" style="color:red;" aria-hidden="true"></i></button>

											

											{{else}}

											<button id="wishlistButton{{../this._id}}" class="wishlistButton border border-0"  onclick="addToWishlist('{{../this._id}}')"><i class="fa fa-heart heartIcon" style="color:grey!important; "  id="heartIcon{{../this._id}}"  aria-hidden="true"></i></button>


											
											{{/wishlistHeartIcon}}


                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6 class="text-center" style="margin-top: 5rem;">{{this.name}}</h6>
                                    {{#if this.quantity}}
                                    <button class="add-cart border-0" style="margin-left: 5.5rem;color:brown;" onclick="addToCart('{{this._id}}')">Add to Cart</button>
                                    {{else}}
                                    <p class="text-danger text-center">Out of stock!!</p>
                                    {{/if}}
                                   {{#if this.comparedDiscount}}
                                    <div class="d-flex justify-content-around">
                                        <span class="text-muted text-decoration-line-through">{{this.price}}</span>
                                    <strong><span class="text-center">₹ {{this.discountedPrice}}</span></strong>
                                    {{!-- <span class="text-success"> {{this.comparedDiscount}}%</span> --}}
                                    </div>
                                    {{else}}
                                    <div class="text-center">
                                        <strong><span class="">₹ {{this.price}}</span></strong>
                                    {{!-- <strong><span class="text-center">₹ {{this.discountedPrice}}</span></strong>
                                    <span class=""> {{this.comparedDiscount}}%</span> --}}
                                     </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

{{!-- ----------------------------------------------------------------------------------------------------}}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                {{#each pages}}
                                <a class="active" href="/shop/now/?page={{this}}">{{this}}</a>
                               {{/each}}
                                <span>...</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

  <!-- Footer Section Begin -->
    <footer class="footer" style="margin-top: 5rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><strong><span class="fw-bolder h2 text-dark m-0 p-0">IND<span class="fw-bolder h2 text-danger m-0 p-0"> W</span>EAR</span></strong></a>

                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
   


    <!-- Search End -->

    <!-- Js Plugins -->

 




    <script>

        function addToWishlist(productId){
            $.ajax({
                url:'/addto/wishlist/'+productId,
                type:'get',
                success:(response)=>{
                    console.log(response)
                    if(response.signUp){
                        window.location.href='/sign-in'
                    }
                    if(response.addStatus){
                        
                        document.getElementById('heartIcon'+productId).style.color='rgb(0, 115, 255)'
                    }
                   
                }

            })
        }
    </script>

